<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="log_dir" source="logging.path" />
    <springProperty scope="context" name="app_profile" source="spring.profiles.active"/>
    <springProperty scope="context" name="app_name" source="spring.application.name"/>
    <property name="maxFileSize" value="500MB"/>
    <property name="maxHistory" value="30"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}:%line){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- 默认日志格式-->
    <property name="CONSOLE_LOG_PATTERN_DEFAULT" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger:%line -%msg%n"></property>
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>  
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>  
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="Roll" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${log_dir}/${app_name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/${app_name}.%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="Roll"/>
    </appender>

    <logger name="de.codecentric" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.netflix" level="INFO"/>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <if condition='property("app_profile").equalsIgnoreCase("dev") || property("app_profile").equalsIgnoreCase("test")'>
            <then>
                <appender-ref ref="STDOUT" />
            </then>
        </if>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC" />
    </root>
</configuration> 
